@font-face {
	font-family: 'MD IO 0.7';
	src: url('/fonts/MDIO07-Medium.woff2') format('woff2'), url('/fonts/MDIO07-Medium.woff') format('woff'),
		url('/fonts/MDIO07-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MD IO 0.7';
	src: url('/fonts/MDIO07-Semibold.woff2') format('woff2'), url('/fonts/MDIO07-Semibold.woff') format('woff'),
		url('/fonts/MDIO07-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MD IO 0.7';
	src: url('/fonts/MDIO07-Regular.woff2') format('woff2'), url('/fonts/MDIO07-Regular.woff') format('woff'),
		url('/fonts/MDIO07-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tanker';
	src: url('/fonts/Tanker-Regular.woff2') format('woff2'), url('/fonts/Tanker-Regular.woff') format('woff'), url('/fonts/Tanker-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clash Grotesk';
	src: url('/fonts/ClashGrotesk-Variable.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--sanddune: #e8e2da;
	--white: #fff;
	--sandshadow: #d0c8be;
	--darksand: #2f2622;
	--padhor: 3vw;
	--wrapperPadding: 2.5vw;
	--tankerNegMar: -0.33vw;
}

html{
	scroll-behavior: smooth; 
}

body {
	font-family: 'Clash Grotesk', sans-serif;
	background-color: var(--sanddune);
	color: var(--darksand);
	font-variant-numeric: slashed-zero;
    line-height: 1.4;
	font-size: 1rem;
	overscroll-behavior-y: none;
	font-variation-settings: 'wght' 460;
}

h1 {
	font-family: 'Tanker';
	font-size: 12rem;
	line-height: 1;
	margin: var(--tankerNegMar) 0 0 var(--tankerNegMar);
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'MD IO 0.7';
	font-weight: 600;
	font-variation-settings: 'wght' 600;
	text-transform: uppercase;
  line-height: 1;
  padding-top: 0.1em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.8em;
	font-weight: 500;
	font-variation-settings: 'wght' 500;
  
}

@media only screen and (min-width: 1440px) {
	body {
		font-size: 1.3rem;
	}
}
