.navWrapper{
    display: inline;
    border-radius: 0 0 1em 0;
    background-color: var(--darksand);
    display: flex;
    padding: 0.33rem 1.75rem 0.33rem var(--padhor);
    gap: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 1px 1px 4px 1px var(--darksand);
}

.navItem{
    color: var(--sanddune);
    text-decoration: none;
    font-variation-settings: 'wght' 480;
}

.navItem.active{
    text-decoration: underline;
}