.navWrapper{
    display: inline;
    width: min-content;
    border-radius: 0 0 1em 0;
    background-color: var(--darksand);
    display: flex;
    padding: 0.33em var(--padhor);
    gap: 1.15em;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navItem{
    color: var(--sanddune);
    text-decoration: none;
    font-variation-settings: 'wght' 480;
}

.navItem.active{
    text-decoration: underline;
}